.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

:root {
  --full-height: 923px;
  --scroll-width: 357;
}

.dark {
  background: #000;
  color: #fff;
}

.hide {
  opacity: 0;
}
