@import url("./reset.css");
@import url("./common.css");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 100;
  transform: translateY(-100%);
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px auto;
  padding: 0 100px;
}
.header .logo {
  width: 100px;
  height: 100px;
}
.header .logo-img {
  width: 100%;
  filter: brightness(0) invert(1);
  transition: filter 0.5s;
}
.header .logo-img.black {
  filter: brightness(0) invert(0);
}
.gnb .gnb-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb .gnb-list .gnb-item {
  position: relative;
  padding: 23px 25px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}
.gnb .gnb-list .btn-lang {
  display: flex;
  align-items: center;
  gap: 5px;
}
.gnb .select-lang {
  display: none;
  position: absolute;
  top: 53px;
  right: 26px;
  padding: 3px 2px;
  text-align: center;
  background-color: #000;
  border: 1px solid #5a5a5a;
  border-radius: 6px;
}
.gnb .select-lang .lang-item {
  opacity: 0.2;
}
.gnb .select-lang .lang-item.active {
  opacity: 1;
}
.gnb .select-lang a {
  display: block;
  padding: 3px 14px 3px 12px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
}
.gnb.black svg path,
.gnb.black .gnb-list .gnb-item {
  color: #000;
  stroke: #000;
}
.gnb.black .select-lang {
  color: #000;
  background-color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  color: #fff;
  padding: 58px 100px;
}
.footer .address {
  font-size: 14px;
}
.footer address {
  font-weight: 400;
  line-height: 1;
}
.footer small {
  display: block;
  margin-top: 10px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}
.footer .footer-logo img {
  width: 193px;
}
