.container {
  position: relative;
}
.container.dark {
  background-color: #000;
}

.sc-intro {
  position: relative;
  height: 800vh;
}
.sc-intro .intro-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  --opacity: 0;
}
.sc-intro .intro-wrapper::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: var(--opacity);
  content: "";
}
.sc-intro .intro-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: #000;
  object-fit: cover;
}
.sc-intro .intro-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-intro .intro-description p {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 32px;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 52px;
  font-weight: 700;
  line-height: 1.67;
  color: #fff;
  opacity: 0;
}
.sc-intro .intro-description p:last-child {
  font-size: 24px;
}
.sc-intro .down-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-50%);
}

.sc-showcase {
  position: relative;
  height: 500vh;
}
.sc-showcase .showcase-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  --opacity: 0;
}
.sc-showcase .showcase-wrapper::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: var(--opacity);
  content: "";
}
.sc-showcase .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sc-showcase .img-wrapper img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.sc-showcase .img-wrapper .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sc-showcase .img-wrapper .img:nth-child(1) {
  z-index: 4;
}
.sc-showcase .img-wrapper .img:nth-child(2) {
  z-index: 3;
}
.sc-showcase .img-wrapper .img:nth-child(3) {
  z-index: 2;
}
.sc-showcase .description1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  line-height: 1.2;
  opacity: 0;
}
.sc-showcase .description2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 32px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  opacity: 0;
}

.sc-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  background: #fff;
  padding: 80px 100px;
}
.sc-portfolio .common-title {
  width: 50%;
}

/* 공통 */
.common-title {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.common-content {
  margin-left: 50%;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}

/* 공통 */
.sc-global,
.sc-value {
  position: relative;
  padding: 218px 0 226px;
  background: url("../images/prove.jpg") no-repeat 50%;
  background-size: cover;
  overflow: hidden;
  height: 720px;
}
[class*="box-before-"] {
  top: 0;
  right: 0;
  transform: translateX(100%);
}
[class*="box-before-"],
[class*="box-after-"] {
  position: absolute;
  width: 20%;
  height: 140px;
  background-color: #fff;
}
[class*="box-after-"] {
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}
.sc-global .content,
.sc-value .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.sc-global .content p,
.sc-value .content p {
  font-size: 72px;
  line-height: 1.28;
  font-weight: 600;
}
.sc-global .content p span,
.sc-value .content p span {
  display: inline-block;
}

.sc-talent {
  display: flex;
  position: relative;
  margin: 0 100px;
}
.sc-talent .common-title {
  display: flex;
  flex: 0 0 470px;
  align-items: center;
  position: sticky;
  top: 0;
  max-width: 470px;
  height: 100vh;
}
.sc-talent .talent-img {
  flex: 0 0 calc(100% - 470px);
  max-width: calc(100% - 470px);
  padding: 100vh 0;
}
.sc-talent .talent-item {
  margin-left: auto;
  max-width: 46.4%;
}
.sc-talent .talent-item:nth-child(2) {
  margin-left: 0;
}
.sc-talent .talent-item:not(:last-child) {
  margin-bottom: 186px;
}
.sc-talent .talent-item img {
  max-width: 100%;
}
.sc-talent .talent-item p {
  margin: 12px 0 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.sc-possible {
  position: relative;
  height: 300vh;
}
.dark .sc-possible .common-title {
  color: #fff;
}
.sc-possible .possible-wrapper {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 100px;
}
.sc-possible .possible-slide {
  display: flex;
  align-items: center;
  color: #fff;
}
.sc-possible .inner-slide {
  display: flex;
  align-items: center;
}
.sc-possible .common-title {
  color: #000;
  font-weight: 700;
  padding-right: 160px;
}
.sc-possible .possible-list {
  display: flex;
  align-items: center;
}
.sc-possible .possible-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.sc-possible .possible-list li:not(:last-child) {
  margin-right: 75px;
}
.sc-possible .possible-list [class*="box"] {
  position: relative;
}
.sc-possible .possible-list [class*="box"]::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 158px;
  height: 158px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  content: "";
  z-index: 1;
}
.sc-possible .possible-list .box1::before {
  background-image: url("../images/possible1.png");
}
.sc-possible .possible-list .box2::before {
  background-image: url("../images/possible2.png");
}
.sc-possible .possible-list .box3::before {
  background-image: url("../images/possible3.png");
}
.sc-possible .possible-list .box4::before {
  background-image: url("../images/possible4.png");
}
.sc-possible .possible-list .icon-square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #fff;
  border-radius: 58px;
  background-color: #000;
  width: 296px;
  height: 296px;
}
.sc-possible .possible-list .icon-arrow {
  display: block;
  position: absolute;
  content: "";
  right: -44px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  border-left: 0;
  border-bottom: 0;
}
.sc-possible .possible-list .description {
  margin-top: 24px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.67;
}
.sc-possible .possible-cube {
  width: 100vw;
}
.sc-possible .possible-cube .cube-wrapper {
  position: relative;
  width: 506px;
  margin: 0 auto;
}
.sc-possible .possible-cube .cube-img {
  width: 100%;
  max-width: 100%;
  background: url("../images/possible5.png") no-repeat 50% / cover;
  width: 506px;
  height: 536px;
}
.sc-possible .possible-cube [class*="text-item"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.sc-possible .possible-cube .text-item1 {
  top: 10%;
  left: 44%;
}
.sc-possible .possible-cube .text-item2 {
  left: 9%;
  bottom: 25%;
}
.sc-possible .possible-cube .text-item3 {
  bottom: 25%;
  right: 9%;
}
.sc-possible .possible-cube .text-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
}
.sc-possible .possible-cube .text-desc {
  font-size: 16px;
  line-height: 1.63;
  font-weight: 700;
}
.sc-possible .possible-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5vh;
  padding: 0 100px;
  margin-top: 8%;
}
.sc-possible .possible-bottom p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.63;
  color: hsla(0, 0%, 100%, 0.6);
}

.sc-change,
.sc-easy {
  height: 100vh;
}
.sc-change .change-wrapper,
.sc-easy .easy-wrapper {
  position: relative;
  margin: 0 100px;
  min-height: inherit;
  width: 100%;
  padding: 200px 0;
}

.sc-banner {
  position: relative;
  overflow: hidden;
}
.sc-banner .box-wrapper {
  display: flex;
  position: relative;
  height: 175px;
}
.sc-banner .box-wrapper.filter {
  filter: blur(50px);
}
.sc-banner .box-wrapper [class*="box"] {
  flex: 1;
  padding: 45px 0;
  text-align: center;
  color: #fff;
}
.sc-banner .box-wrapper .box1 {
  background-color: #e657af;
}
.sc-banner .box-wrapper .box2 {
  background-color: #0049ff;
}
.sc-banner .box-wrapper .box3 {
  background-color: #00bf41;
}
.sc-banner .banner-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 100px;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  opacity: 0;
}

.sc-safe {
  height: 500vh;
}
.sc-safe .safe-wrapper {
  height: 600vh;
}
.sc-safe .safe-slide {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 100px;
  color: #fff;
}
.sc-safe .safe-slide .common-title {
  padding-right: 160px;
}

/* card 공통 */
.card-list {
  display: flex;
  align-items: center;
}
.card-header {
  display: flex;
  position: relative;
  min-height: 110px;
}
.card-title {
  font-size: 50px;
  font-weight: 600;
  margin-right: 46px;
  color: #fff;
  word-break: break-word;
  line-height: 1;
}
.card-header span {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 30px;
  line-height: 0.67;
  color: #fff;
  text-align: right;
  font-family: Archivo;
}
.card-list > li {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: 540px;
  padding: 34px;
  margin-right: 40px;
  border-radius: 20px;
  background: #000;
}
.card-list > li:last-child {
  margin-right: 0;
}
.sc-safe .card-list li:not(.color-card) {
  justify-content: space-between;
  border: 2px solid #fff;
}
.sc-outro .color-card,
.sc-slider .color-card,
.sc-better .color-card,
.sc-safe .color-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 540px;
  border-radius: 20px;
  position: relative;
  border: 2px solid transparent;
  padding: 0;
  background-image: linear-gradient(#000, #000),
    linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.sc-safe .card-content::after {
  display: block;
  content: "";
  width: 278px;
  height: 208px;
  background-repeat: no-repeat;
  background-origin: 50% 50%;
  background-size: cover;
}
.sc-safe .card-item1 .card-content::after {
  background-image: url("../images/safe1.png");
}
.sc-safe .card-item2 .card-content::after {
  background-image: url("../images/safe2.png");
}
.sc-safe .card-item3 .card-content::after {
  background-image: url("../images/safe3.png");
}
.color-card [class*="icon-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 125px;
  background-repeat: no-repeat;
  background-origin: 50% 50%;
  background-size: cover;
}
.color-card .icon-unlock {
  background-image: url("../images/unlock-icon.png");
}
.color-card .icon-lock {
  opacity: 0;
  background-image: url("../images/lock-icon.png");
}

/* 공통 */
.card-footer {
  display: flex;
  justify-content: space-between;
}
.sc-safe .card-footer span {
  font-size: 24px;
  line-height: 1.67;
  font-weight: 700;
}
.card-footer i {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/info-icon.png") no-repeat 50% / cover;
}

.sc-better {
  display: flex;
  color: #fff;
  padding: 0 100px;
  margin-top: -100vh;
}
.sc-better .col-left {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 400px;
  height: 100vh;
}
.sc-better .col-right {
  /* margin-left: 400px; */
  padding: 100vh 0 100vh 15.3%;
}
.sc-better .service-intro .main-title {
  font-size: 72px;
  line-height: 1.28;
  font-weight: 700;
}
.sc-better .running-service span,
.sc-better .service-intro .content-wrapper strong,
.sc-better .service-intro .title-description {
  font-size: 24px;
  line-height: 1.67;
  font-weight: 700;
}
.sc-better .service-intro .title-description {
  max-width: 750px;
  margin-top: 34px;
}
.sc-better .service-intro .content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.sc-better .service-intro .service-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.sc-better .service-intro .service-box {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(300deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.color-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  background-image: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.sc-better .service-box .color-text {
  font-size: 28px;
  line-height: 1.43;
  opacity: 1;
}
.sc-better .service-intro .service-item strong {
  margin-left: 52px;
}
.sc-better .running-service {
  margin-top: 160px;
}
.sc-better .running-service .service-title {
  font-size: 60px;
  line-height: 1;
  font-weight: 600;
}
.sc-better .running-service .service-list {
  display: flex;
  margin-top: 80px;
}
.sc-better .running-service .service-list li {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 50px;
}
.sc-better .running-service .service-list p {
  margin-top: 24px;
}

.sc-slider {
  display: flex;
  position: relative;
  margin-top: -100vh;
  height: 600vh;
}
.sc-slider .card-slider {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  overflow: hidden;
}
.sc-slider .color-card {
  z-index: 4;
}
.sc-slider .color-text {
  opacity: 1;
}
.sc-slider .card-slider .img-filter {
  display: none;
}
.sc-slider .card-list .card-item2 {
  z-index: 3;
}
.sc-slider .card-list .card-item3 {
  z-index: 2;
}
.sc-slider .card-list .card-item4 {
  z-index: 1;
}
.sc-slider .card-list li {
  --filter: none;
}
.sc-slider .card-list li::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  content: "";
  z-index: -1;
  filter: var(--filter);
}
.sc-slider .card-item2::after {
  background-image: url("../images/card1.png");
}
.sc-slider .card-item3::after {
  background-image: url("../images/card2.png");
}
.sc-slider .card-item4::after {
  background-image: url("../images/card3.png");
}
.sc-smart .card-content,
.sc-slider .card-content {
  padding-top: 40px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 600;
  z-index: 1;
}
.sc-finance .card-content,
.sc-smart .card-item1 .card-content,
.sc-slider .card-content {
  opacity: 0;
  z-index: 1;
}
.sc-smart .card-footer,
.sc-finance .card-footer,
.sc-slider .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 32px;
  width: 328px;
  height: 40px;
}
.sc-smart .card-footer .profile,
.sc-slider .card-footer .profile {
  display: flex;
  align-items: center;
}
.sc-smart .card-footer .profile-img,
.sc-slider .card-footer .profile-img {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 9px;
}
.sc-smart .card-footer .profile-img,
.sc-slider .card-item2 .profile-img {
  background: #ff009d;
}
.sc-slider .card-item3 .profile-img {
  background: #0049ff;
}
.sc-slider .card-item4 .profile-img {
  background: #26ff00;
}

.sc-outro {
  display: flex;
  width: 100%;
  height: 200vh;
  margin-top: -100vh;
}
.outro-wrapper {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  overflow: hidden;
}
.sc-outro .col-left {
  display: flex;
  align-items: center;
  width: 400px;
}
.sc-outro .col-left .color-card {
  position: relative;
  --opacity: 0;
}
.sc-outro .col-left .color-card::before {
  content: "";
  display: block;
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background: url("../images/card-glow.png") no-repeat cover;
  z-index: -1;
  opacity: var(--opacity);
}
.sc-outro .col-right {
  padding: 100vh 0 100vh 15.3%;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.28;
  color: #fff;
  opacity: 0;
}
.sc-outro .color-text {
  opacity: 1;
}

.sc-global {
  background: url("../images/global.jpg") no-repeat 50% / cover;
}

.sc-finance {
  display: flex;
  height: 500vh;
}
.sc-finance .finance-slide {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 100px;
}
.sc-smart .slide-title,
.sc-finance .slide-title {
  padding-right: 160px;
  font-weight: 700;
}
.sc-smart .card-list,
.sc-finance .card-list {
  color: #fff;
}
.sc-finance .card-item1 {
  background: #e657af;
}
.sc-finance .card-item2 {
  background: #0049ff;
}
.sc-finance .card-item3 {
  --filter: none;
}
.sc-finance .card-item3::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: url("../images/finance.png") no-repeat top/cover;
  content: "";
  filter: var(--filter);
}
.sc-smart .card-footer,
.sc-smart .card-header,
.sc-finance .card-footer,
.sc-finance .card-header {
  z-index: 1;
}
.sc-finance .card-header .caption-star {
  top: 0;
}
.sc-finance .card-header .caption-desc {
  top: 23px;
  bottom: 10px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 700;
}
.sc-finance .inner-card-list li {
  margin-bottom: 30px;
}
.sc-finance .inner-card-list em {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.sc-finance .inner-card-list span {
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
}
.sc-finance .card-footer span {
  font-size: 16px;
  line-height: 1.63;
  font-weight: 700;
}
.sc-smart .slide-description,
.sc-finance .slide-description {
  padding: 0 60px 0 160px;
  font-size: 24px;
  line-height: 1.67;
  font-weight: 700;
}
.sc-smart .slide-description p,
.sc-finance .slide-description p {
  width: 358px;
}

.sc-creator {
  position: relative;
  height: 200vh;
  background: #fff;
}
.sc-creator .creator-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--full-height, 100vh);
}
.sc-creator img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.sc-creator .creator-content {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
}
.sc-creator .creator-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}
.sc-creator .creator-description {
  margin-top: 26px;
  font-size: 24px;
  line-height: 1.67;
  font-weight: 600;
}

.sc-smart {
  display: flex;
  height: 500vh;
}
.sc-smart .smart-slide {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 100px;
}
.sc-smart .card-item1 {
  --filter: none;
}
.sc-smart .card-item1::after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: url("../images/creator2.png") no-repeat top/cover;
  filter: var(--filter);
}
.sc-smart .card-item2 {
  background: #0049ff;
}
.sc-smart .card-item3 {
  background: #131415;
}
.sc-smart .card-item4 {
  background: #00bf41;
}
.sc-smart .card-title {
  margin-right: 0;
}
.sc-smart .card-content p:first-child {
  margin-bottom: 24px;
}
.sc-smart .card-content p:last-child {
  margin-top: 8px;
}

.sc-ground {
  padding: 200px 100px;
  /* background: #fff;
  color: #000; */
}
.sc-ground .ground-title {
  margin-bottom: 34px;
  font-size: 72px;
  line-height: 1.28;
  font-weight: 600;
}
.sc-ground .ground-content {
  font-size: 24px;
  line-height: 1.67;
  font-weight: 600;
}
.sc-ground .link-area {
  display: flex;
  margin-top: 70px;
}
.sc-ground .link-area a {
  display: block;
  font-size: 18px;
  line-height: 2.22;
  font-weight: 600;
  border: 2px solid #000;
  padding: 3px 21px 1px;
  margin-right: 18px;
}
.sc-ground .link-area a:first-child {
  background: #000;
  color: #fff;
}

.infinite-banner {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
}
@keyframes banner {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.infinite-banner .banner-wrapper {
  display: flex;
  justify-content: flex-end;
  animation: banner 15s linear infinite;
}
.infinite-banner .banner-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(36px);
}
.infinite-banner .banner-item {
  width: 235px;
  height: 60px;
}
.infinite-banner .banner-item:nth-child(3n-2) {
  background: #00bf41;
}
.infinite-banner .banner-item:nth-child(3n-1) {
  background: #0049ff;
}
.infinite-banner .banner-item:nth-child(3n) {
  background: #e657af;
}

.infinite-banner .banner-item span {
  position: relative;
  display: block;
  color: #fff;
  font-size: 24px;
  line-height: 1.67;
  font-weight: 600;
  padding: 10px 72px;
  white-space: nowrap;
}

.scroll-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  right: 100px;
  bottom: 100px;
  z-index: 50;
  background-color: #111;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.scroll-top i::after {
  display: block;
  content: "";
  width: 30px;
  height: 35px;
  background-image: url("../svgs/top-btn.svg");
}
