@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("../fonts/NotoSansCJKkr-Light.woff2") format("woff2");
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", "NotoSansCJKkr";
}
body {
  font-family: "Archivo", "NotoSansCJKkr";
  word-break: keep-all;
  overflow-x: hidden;
  transition: background-color 0.5s;
}
body.dark {
  background-color: #000;
}
ul {
  list-style: none;
}
input,
select,
textarea,
button,
a {
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
input:focus {
  outline: none;
}
